body {
    background-color: #fdf6ff;  /* pastelowy fioletowy */
    margin: 15px;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to bottom, #f4f0ff, #e0f7ff);
    color: #4b3b5a;
}

/* Kolor toru suwaka pink*/
.rc-slider-track {
    background-color: #ff69b4 !important;
}

/* Kolor "gałki" suwaka */
.rc-slider-handle {
    border-color: #ff69b4 !important;
    background-color: #ffb6c1 !important;
}

/* Kolor aktywnych kropek na suwaku */
.rc-slider-dot-active {
    border-color: #ff69b4 !important;
}

/*rainbow
.rc-slider-track {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) !important;
    height: 6px;
}*/

/* Bazowy styl dla każdego suwaka*/
.pastel-slider {
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: 2px solid #dddddd;
    background: linear-gradient(
        to right,
        #ffd1dc,
        #ffe4b3,
        #ffffcc,
        #ccffd1,
        #cce5ff,
        #e0ccff,
        #f4ccff
    );
    transition: box-shadow 0.3s ease;
}

/* Opcjonalny efekt po najechaniu */
.pastel-slider:hover {
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2);
}


/* Dodaje ramkę do panelu z suwakami
.slider-panel {
    border: 3px solid #ff69b4;  /* Różowa ramka
    border-radius: 10px;
    padding: 15px;
    background-color: #fff0f5;  /* Jasnoróżowe tło
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.3);
}*/

.graph-panel {
    border-radius: 10px;
    padding: 15px;
    background-color: #fafaff;
    box-shadow: 0 0 12px rgba(180, 160, 255, 0.3);
}




